NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBaYlF4KzRjthem0SFr4ZEdVF_Hy4qwt10
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=billkaro-5f740.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=billkaro-5f740
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=billkaro-5f740.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1013889879195
NEXT_PUBLIC_FIREBASE_APP_ID=1:1013889879195:web:51ea5e9a79c222920f0a3e